<h1>Angular Leather Lane Market App</h1>

<div ng-controller="MarketController">
  <nav>
    <h2>Stalls</h2>
    <input ng-model="search" placeholder="search"/>
    <ul>
      <li class="new_item" ng-show="newStall"
          ng-class="{ highlighted: stall === selectedStall }"
          ng-click="selectStall(newStall)">{{ newStall.name }}</li>

      <li ng-repeat="stall in stalls | filter : searchFunction | orderBy:'name'"
          ng-class="{ highlighted: stall === selectedStall }"
          ng-click="selectStall(stall)">{{ stall.name }}</li>
    </ul>

    <button class="btn"
            ng-init="isCollapsed = true"
            ng-click="isCollapsed = !isCollapsed">
            <span ng-show="isCollapsed">Add an item</span>
            <span ng-hide="isCollapsed">Hide this form</span>
    </button>
    <div ng-hide="isCollapsed">
      <form name="stallForm" ng-submit="addStall()" novalidate>
        <label>Name</label>
        <input type="text" ng-model="newStall.name" required/><br>
        <label>Price</label>
        <div class="warning-number">Price must be more than 1 and less than 10</div>
        <input type="number" ng-model="newStall.price" required
               min="1" max="9"/><br>
        <label>Description</label>
        <textarea ng-model="newStall.description"></textarea><br>
        <button ng-disabled="stallForm.$invalid">Submit</button>
      </form>
    </div>
  </nav>

  <section ng-show="selectedStall">
    <div ng-click="clearSelectedStall();" class="close"><a href="">X</a></div>
    <h2>Selected Stall Details</h2>
    <table ng-hide="editStall">
      <tr>
        <td>Name:</td>
        <td>{{ selectedStall.name }}</td>
      </tr>
      <tr>
        <td>Price:</td>
        <td> {{ selectedStall.price | currency }}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td> {{ selectedStall.description}}</td>
      </tr>
    </table>

    <table ng-show="editStall">
      <tr>
        <td>Name:</td>
        <td><input ng-model="editStall.name" /></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><input ng-model="editStall.price" /></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><textarea ng-model="editStall.description"></textarea></td>
      </tr>
    </table>

    <button ng-hide="editStall" ng-click="deleteStall(selectedStall);">Delete</button>
    <button ng-hide="editStall" ng-click="setEditStall(selectedStall);">Edit</button>
    <button ng-show="editStall" ng-click="clearEditStall();">Cancel</button>
    <button ng-show="editStall" ng-click="updateStall(editStall);">Save</button>
  </section>

  <section ng-hide="selectedStall">
    <h2>Leather Lane</h2>
    <p>Leather Lane is an awesome market in Clerkenwell that has a wide variety of lunch options.  Select an option from the left to see more details.</p>
  </section>
</div>
